<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/style.css}"  rel="stylesheet" href="../static/css/style.css" type="text/css"/>
</head>
<body>

    <div class="header">
        <div>
          <h1>Admin</h1>
        </div>
  
        <div>
  
          <ul>
            <li><a th:href="@{/admin}" href="#">admin</a></li>
            <li><a sec:authorize="isAuthenticated()"  th:href="@{/loginout}" href="#">logout</a></li>
            <li><a href="#" th:href="@{/admin/role}">Role</a></li>
            
          </ul>
        </div>
  
  
      </div>


      <div class="mainPage">
        <h1>welcome Admin</h1>
      </div>

      <div class="pcate">
        <div>
            <a th:href="@{/admin/categories}" href="#">categories</a>
        </div>
        <div>
            <a th:href="@{/admin/products}" href="#">products</a>
        </div>
      </div>
    
</body>
</html>