<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

  <div class="header">
    <div>
      <h1>Admin</h1>
    </div>

    <div>

      <ul>
        <li><a th:href="@{/admin}" href="#">admin</a></li>
        <li><a sec:authorize="isAuthenticated()"  th:href="@{/loginout}" href="#">logout</a></li>
        <li><a href="#" th:href="@{/admin/role}">Role</a></li>
        
      </ul>
    </div>


  </div>


      <div class="mainPage">
        <h1>welcome to categories</h1>
      </div>

      <div class="table">

        <div>
        <a th:href="@{/admin/categories/add}" href="">Add categories</a>
      </div>

        <table>
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="categorie, isStat : ${categories}">
                    <td th:text="${isStat.index + 1}"></td>
                    <td th:text="${categorie.name}"></td>
                    <td><a class="delete" th:href="@{/admin/catefories/delete/{id1}(id1=${categorie.id})}" href="#">Delete</a></td>
                    <td><a th:href="@{/admin/catefories/update/{id}(id=${categorie.id})}" href="#">Update</a></td>

                </tr>
            </tbody>
        </table>


        
      </div>
    
</body>
</html>