<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div>
        <div>
          <h1>Test Web E-commerce</h1>
        </div>
  
        <div>
  
            <ul>
                <li><a th:href="@{/}" href="#">home</a></li>
                <li><a th:href="@{/shop}" href="#">shop</a></li>
                
                <li><a href="#">Sign Up</a></li>
              </ul>
        </div>
  
  
      </div>


      <div>
        <h1>welcome login</h1>
      </div>

      <form th:action="@{/login}" method="post">
        <!-- <input type="email" name="email" id="email"> -->
        <input type="name" name="username" id="username">
        <input type="password" name="password" id="password">
        <p th:if="${param.error}"> Error now </p>
        <input type="submit" value="submit">
        <a href="" th:href="@{/register}">Register</a>
        <a href="" th:href="@{/forgotPassword}">ForgotPassword</a>
      </form>
      </div>
    
</body>
</html>