<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">

</head>
<body>

    <div class="header">
        <div>
          <h1>Admin</h1>
        </div>
  
        <div>
  
          <ul>
            <li><a th:href="@{/admin}" href="#">admin</a></li>
            <li><a sec:authorize="isAuthenticated()"  th:href="@{/loginout}" href="#">logout</a></li>
        <li><a href="#" th:href="@{/admin/role}">Role</a></li>
            
          </ul>
        </div>
  
  
      </div>


      <div class="mainPage">
        <h1>update category</h1>
      </div>

      <div class="form">

        


        <form th:action="@{/admin/categories/update}" method="post" th:object="${category}">
          <input type="hidden" name="id" th:field="*{id}">
          <input type="text" required name="name" id="name" th:field="*{name}">
          <input type="submit" value="submit">
      </form>
        


        
      </div>
    
</body>
</html>