<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">

</head>
<body>

    <div class="header">
        <div>
          <h1>View Product</h1>
        </div>
  
        <div>
  
            <ul>
                <li><a th:href="@{/}" href="#">home</a></li>
                <li><a th:href="@{/shop}" href="#">shop</a></li>
                <li><a sec:authorize="isAnonymous()" th:href="@{/login}" href="#">login</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/loginout}" href="#">logout</a></li>
                <li><a th:href="@{/cart}" href="#">cart</a></li>
                <li><span th:text="${cartCount}">0</span></li>
              </ul>
        </div>
  
  
      </div>


      <div class="mainPage">
        <h1>view products</h1>
      </div>

      <div class="box">
        <div class="box1">
        
        <img src="" th:src="@{${'/productImages/' + product.imgName}}" alt="" th:alt="${product.name}" height="250px" width="250px">

        <h2 th:text="${product.name}">test</h2>
        <p th:text="${product.category.name}">test</p>
        <h5>Weight: <span th:text="${product.weight}">133</span></h5>
        <p th:text="${product.description}">232</p>
        <a href="" th:href="@{/addToCart/{id}(id=${product.id})}">Add to Cart</a>
      </div>
      
      </div>
    
</body>
</html>