<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.demo.repository.RoleRepository">


	<resultMap type="com.example.demo.model.Role" id="role">

		<id column="role_id" property="id" />
		<result column="name" property="rolename" />
		
		
	</resultMap>

	<select id="findAllRole" resultMap="role">
		SELECT * FROM ecsite.roles;
	</select>
	
	<select id="findByOneRole" resultMap="role">
	    SELECT * FROM ecsite.roles where role_id = #{id};
	</select>
	

	<insert id="addRole">
		insert ecsite.roles(id, name)
		values(
		#{id},  
		#{name}
		);
	</insert>
	
	
	<delete id="deleteRoleById">
	    delete from ecsite.product where id = #{id};
	</delete>

</mapper>



